extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    span
      a(href='/') ← HOME
      | ------
      a(href="/allprojects") PROJECTS 
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1#my-name Tim Blacquier 
        h5 Full-Stack JavaScript Developer
        <br/>
        h6#my-description.lead.text-light
          | A little about me

        #bio.portfolio-bio
          p
            | I wandered into the world of programming while I was looking for ways to advance my profession as a 
            | power engineer. I liked it so much, I decided to dive-in head first and pursue a career in 
            | full-stack development. I am a recent graduate from 
            a(href='https://teamtreehouse.com' target='_blank').my-name Team Treehouse's 
            | Full-Stack Tech Degree program.
            <br/>
            <br/>
            | I’m enjoying how coding is helping me stretch, strive, and grow in new ways and apply my systems-thinking 
            | mindset to solve problems, crush challenges, and continuously learn by doing.
            <br/>
            <br/>
            | I am currently working towards a certficate in Agile Project Management at the UBC Sauder School of
            | Business as well.
            <br/>
            <br/>
            | When I’m not coding, you can find me hanging out with my dog, playing hockey and cheering on the Leafs, 
            | planning my next scuba diving trip, or playing video games.
   
      #skill-tree.cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Node
          li React
          li Express
          li MongoDB
          li SQL
          li jQuery
          li HTML
          li CSS 
          li Project Management
        h6 Contact Info

        ul
          li tblacq87@gmail.com

        a.button.expanded(href='https://github.com/timb15' target='_blank') GitHub
        a.button.expanded(href='https://ca.linkedin.com/in/tim-blacquier-a552398b' target='_blank') LinkedIn
        

  