extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href="/allprojects") PROJECTS
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Hello World!
        p.welcome
          |My name is Tim Blacquier and I'm a curiosity-driven full-stack web developer.
          |Thank you for dropping by and I hope you stick around and check out some of my work featured on my 
          a(href='/allprojects').my-name Selected Projects page.
          <br/>
          <br/>
          |This site was built using Node.js and Express. You can view the GitHub repo for this and any of my other projects
          a(href='https://github.com/timb15' target='_blank').my-name  here!
 
  
          
      
