extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div.index-header
      h1 Hey, Potential Employers!
      p.lead.text-light
        | Check out some of the projects I have completed.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
     
    each project in projects
      .cell
        a(href=`/projects/${project.id}`)
          h5 #{project.project_name}
          img(src= `${project.img_urls[0]}`)
          
      
