
h1,h2,h3,h4,h5,h6,p{
  font-family: 'Merriweather', serif;
  color: black;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 20px;
    color: #284B63;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #284B63;
  font-family: Arial, Helvetica, sans-serif;
}

.button{
  background-color: black;
  border: solid black 1px;
}

.button:hover{
  background-color: #fff;
  color: #284B63;
}

a{
  color: #284B63;
}

a:hover{
  color: #3E92CC;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 0;
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #284B63;
  color: #FFFFFF;
  box-shadow: none !important;
  border-right: solid black 1px;
}

  .portfolio-me p{
    font-size: 14px;
    color: #D9D9D9;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #D9D9D9;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #3E92CC;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #284B63;
  color: #fff;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #284B63;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #fff;;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #284B63;
}

.portfolio-bio{
    line-height: 25px;
}

body{
  background-color: #3E92CC;
  background-image: linear-gradient(#FFFFFF, #3E92CC);
  background-repeat: no-repeat;
}

.my-name{
  border-bottom: solid 1px black;
  color: #3E92CC;
}
.project{
  border-left: 1px solid #FFFFFF;
  padding-left: 5px;
}

.contact{
  color: #3E92CC;
}

.welcome{
  border-top: 1px solid #284B63;
  padding-top: 40px;
}
